* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(102, 94, 88);
  font-family: Arial, Helvetica, sans-serif;
}
/* ----------HEADER COMIENZO-------- */
.header {
  background-color: rgba(245, 7, 7, 0.657);
  height: 40px;
  width: 100%;
}

.main-banner {
  background-color: rgba(0, 0, 255, 0.65);
}
.nav ul li {
  color: white;
  flex-direction: row;
}
.main-menu1 {
  color: beige;
  font-size: 2em;
}
.main-menu2:hover {
  background-color: rgb(7, 7, 0);
  border: 2px solid rgb(226, 217, 217);
  border-radius: 8px;
}
.main-menu2 {
  font-size: 1.5em;
}
.main-menu__link {
  color: rgb(246, 244, 244);
  text-align: right;
  text-decoration: none;
}

/* -----------HEADER FINAL-------------------- */
/* -----------BANNER COMIENZO----------------- */

.main-title {
  color: white;
  height: 40px;
  text-align: center;
}
.main-section {
  background-color: rgba(255, 255, 255, 0.835);
}
.main-subtitle {
  font-size: 25px;
  font-style: oblique;
  height: 40px;
  margin: 10 0 0 10px;
  padding: 5px;
}

/* -----------BANNER FINAL----------------- */

p {
  letter-spacing: 3px;
}
.general {
  padding: 5px;
}
.general::first-letter {
  background-color: rgb(226, 223, 219);
  color: rgba(15, 13, 160, 0.719);
  font-size: 2rem;
}
.link {
  display: inline-block;
  margin-top: 1px;
  text-decoration: none;
  padding: 6px;
}
.link:hover {
  background-color: rgb(255, 255, 254);
  border: 2px solid black;
}

.contenedor {
  background: rgb(221, 213, 103);
  border: 2px solid black;
  margin: 10px;
  width: 100%;
}
.main-tec__item {
  background-color: #b1c3ae;
  border-bottom: 4px solid black;
  height: 105px;
  margin: 1em;
  padding: 5px;
}

.foto1 {
  border: 4px groove rgb(0, 0, 0);
  display: flex;
  float: right;
  height: 60px;
  margin-top: -70px;
}
.foto2 {
  border: 4px groove rgb(0, 0, 0);
  display: flex;
  float: right;
  height: 60px;
  margin-top: -70px;
}
.foto3 {
  border: 4px groove rgb(0, 0, 0);
  display: flex;
  float: right;
  height: 50px;
  margin-top: -70px;
}
.foto4 {
  border: 4px groove rgb(0, 0, 0);
  display: flex;
  float: right;
  height: 60px;
  margin-top: -70px;
}

.main-inf__item {
  background-color: #d1b284;
  border-bottom: 4px solid black;
  height: 105px;
  margin: 1em;
  padding: 5px;
}
.main-aut__item {
  background-color: #96b1b4;
  border-bottom: 4px solid black;
  height: 105px;
  margin: 1em;
  padding: 5px;
}
.main-rob__item {
  background-color: #bda6c0;
  border-bottom: 4px solid black;
  height: 105px;
  margin: 1em;
  padding: 5px;
}
/* -------------------------FOOTER COMIENZO------------- */

footer {
  background: rgba(71, 255, 255, 0.383);
  height: 50px;
  width: 100%;
}
.main-item {
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
}
